.VirtualAuthorPanel {
  background: @control-bg;
  color: @control-color;
  border-radius: @border-radius;

  &-Title {
    padding: 16px;
    padding-bottom: 0;

    text-transform: uppercase;
    margin: 0;
  }

  &Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 8px;
    border-radius: @border-radius;

    &--clickable {
      cursor: pointer;
      text-decoration: none !important;

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        background: @body-bg;
      }
    }

    &:not(.VirtualAuthorPanelItem--clickable) {
      background: @body-bg;
    }

    h3,
    p {
      margin: 0;
    }
  }

  &-List {
    padding: 8px;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: stretch;
    gap: 8px;

    @media @phone {
      gap: 4px;
    }
  }
}
